{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
<style>
    input {
        /* font-family: "Courier New", Courier, monospace; */
        font-weight: bold;
        font-size: min(8vw, 8vh);
        width: 2em;
        height: 2em;
        line-height:1em;
        vertical-align:center;
    }
    table {
        margin: auto;
    }
    /* --- LOADING SPINNER OVERLAY STYLES --- */
    #loading-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        z-index: 9999;
        text-align: center;
        padding-top: 20vh;
    }
    .spinner {
        font-size: 3rem;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block app_content %}
<!-- Loading Overlay Element -->
<div id="loading-overlay">
    <div class="spinner">⏳ AI is thinking...</div>
</div>

<h1>{% block title %}Tic-Tac-Toe{% endblock %}</h1>
<form class="form form-basic" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <input type="hidden" name="pressed" id="pressed"/>
    <table>
        <tr>
            {% for button in form.buttons %}
            {% if button.label.text in ('o', 'x') or game_over %}
            <td>{{ button(type='button', class="button_disabled", id=loop.index) }}</td>
            {% else %}
            <td>{{ button(type='button', class="button", id=loop.index) }}</td>
            {% endif %}
            {% if loop.index is divisibleby(N) %}
        </tr>
        <tr>{% endif %}
            {% endfor %}
        </tr>
    </table>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(".button").click(function(event) {
    // Show the loading overlay when a move is submitted
    $("#loading-overlay").show();
    
    // Disable all buttons to prevent double-clicking
    $(".button").prop("disabled", true);

    $("#pressed").val(event.target.id);
    $(".form").submit();
});
</script>
{% endblock %}
