{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
<h1>{% block title %}Tic-Tac-Toe{% endblock %}</h1>
{% endblock %}

{% block app_content %}
<form class="form form-basic" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <input type="hidden" name="pressed" id="pressed" />
    <table style="width:20%">
        <tr>
            {% for button in form.buttons %}
            {% if button.label.text in ('o', 'x') or game_over %}
                <td>{{ button(type='button', class="button_disabled", id=loop.index) }}</td>
            {% else %}
                <td>{{ button(type='button', class="button", id=loop.index) }}</td>
            {% endif %}
            {% if loop.index is divisibleby(N) %}
        </tr>
        <tr>{% endif %}
            {% endfor %}
        </tr>
    </table>
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(".button").click(function(event) {
    $("#pressed").val(event.target.id);
    $(".form").submit();
});
</script>
{% endblock %}