{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
<h1>{% block title %}Ultimate Tic-Tac-Toe{% endblock %}</h1>
<style>
    input {
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: large;
        vertical-align:center;
        padding: 0px 0px;
        width: 2em;
    }
    td {
    /*
        padding: 20px 10px 0px 10px; */
        border: 1px solid black;
     /* border-spacing: 15px 15px;*/
    }
table.desig {
    border: 2px solid blue;
    background-color: PaleTurquoise;
}
table.not_desig {
    border: 2px solid black;
}
table.win1 {
    background-color:yellow;
}
table.win2 {
    background-color:green;
}
.tickbox {
        vertical-align:center;
        text-align: center;
        margin: auto;
        padding: 5px 0;
    /* border: 1px solid black; */
    /* cursor: pointer; */
    width: 1.5em;
    height: 1em;
    line-height:1em;
    font-size: x-large;
}

</style>
{% endblock %}

{% block app_content %}
<form class="form form-basic" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <input type="hidden" name="pressed" id="pressed"/>
    <div style="margin:auto;">
        {% set main_table_class = 'desig' if desig_board==None and not game_over else 'not_desig' %}
        <table class="{{main_table_class}}" >
            {% for r in range(N) %}
            <tr>
                {% for c in range(N) %}
                <td>
                    {% set table_class = 'desig' if (r,c)==desig_board and mainboard[r,c]==0 else 'not_desig' %}
                    {% set table_class = ('win1', table_class, 'win2')[mainboard[r,c]+1] %}
                    <table class="{{table_class}}">
                        {% for x in range(N) %}
                        <tr>
                            {% for y in range(N) %}
                            {% set bi=(r*N+c)*N**2 + (x*N+y) %}
                            {% set bv = board[r,c,x,y] %}
                            {% set label = 'O X'[bv+1] %}
                            {% set enabled = 'enabled' if not game_over and (r,c,x,y) is in(legal_moves) else '' %}
                            <td>
                                <div class="tickbox {{enabled}}" id="{{bi}}">{{label}}</div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </td>
                    </table>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$("div.enabled").click(function(event) {
    $("#pressed").val(event.target.id);
    $(".form").submit();
});


</script>
{% endblock %}